<p-dialog header="Observaciones" [visible]="inLogro()!=null" [modal]="true" position="top" [maximizable]="true">
    <p-fieldset legend="Logro">
        <div>
            <p-table size="small" [value]="[inLogro()]" [paginator]="false" [rows]="5"
                [tableStyle]="{ 'min-width': '80rem' }" showGridlines stripedRows [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template #header>
                    <tr>
                        <th style="width:72%">Descripción</th>
                        <th style="width:7%">% NT1</th>
                        <th style="width:7%">% NT2</th>
                        <th style="width:7%">% NT3</th>
                        <th style="width:7%">% NT4</th>
                    </tr>
                </ng-template>
                <ng-template #body let-logro>
                    <tr>
                        <td style="font-size: 15px;">{{ logro.textoLg }}</td>
                        <td style="font-size: 15px;">{{ logro.pc1 }} %</td>
                        <td style="font-size: 15px;">{{ logro.pc2 }} %</td>
                        <td style="font-size: 15px;">{{ logro.pc3 }} %</td>
                        <td style="font-size: 15px;">{{ logro.pc4 }} %</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <hr class="mt-3">
        <div class="grid grid-cols-3 gap-2">
            <div class="mt-3">
                <p-table size="small" [value]="inGetStudients()" [paginator]="true" [rows]="10"
                    [tableStyle]="{ 'min-width': '80rem' }" showGridlines stripedRows
                    [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template #header>
                        <tr>
                            <th style="width:85%">Estudiante</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-studient>
                        <tr>
                            <td style="font-size: 15px;"><button pButton type="button"
                                    (click)="obsForm(studient)"
                                    [label]="studient.apellidos + ' ' + studient.nombres" class="p-button-text"
                                    icon="pi pi-info-circle"></button> </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="mt-3 col-span-2">
                <app-dialog-form-obs-studient [inputStudient]="inputStudient!"></app-dialog-form-obs-studient>
            </div>
        </div>

        <hr class="mt-3">
        <div class="mt-3" style="text-align: center;">
            <button pButton type="button" label="Cerrar" icon="pi pi-times" class="p-button-secondary"
                (click)="closeDialog()"></button>
        </div>
    </p-fieldset>
</p-dialog>