<form [formGroup]="formFindLogros">
  <p-fieldset legend="Buscar Logros para Calificar">
    <div class="grid grid-cols-4 m-2 gap-1" >
      <div>
        <p-floatlabel variant="on">
          <p-select formControlName="grado" size="small" [options]="gradosResources.value()" optionValue="codGrado" optionLabel="descGrado"
            [filter]="true" filterBy="descGrado" [showClear]="true" fluid (onChange)="selectedGrado($event.value)">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <div>{{ selectedOption.codGrado }} - {{ selectedOption.descGrado }}</div>
              </div>
            </ng-template>
            <ng-template let-grado #item>
              <div class="flex items-center gap-2">
                <div>{{ grado.codGrado }} - {{ grado.descGrado }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="txtGrado">Grado</label>
        </p-floatlabel>
      </div>
     
       <div>
        <p-floatlabel variant="on">
          <p-select formControlName="grupo" size="small" [options]="groupsResources.value()" optionValue="idGrupo" optionLabel="grupo" [filter]="true"
            filterBy="grupo" [showClear]="true" fluid>
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <div>{{ selectedOption.grupo }}</div>
              </div>
            </ng-template>
            <ng-template let-grupo #item>
              <div class="flex items-center gap-2">
                <div>{{ grupo.grupo }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="txtGrupo">Grupo</label>
        </p-floatlabel>
      </div>

      <div>
        <p-floatlabel variant="on">
          <p-select formControlName="asignatura" size="small" [options]="this.listAsignaturas" optionValue="codAsignatura" optionLabel="asignatura"
            [filter]="true" filterBy="asignatura" [showClear]="true" fluid>
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <div>{{ selectedOption.asignatura }}</div>
              </div>
            </ng-template>
            <ng-template let-asignatura #item>
              <div class="flex items-center gap-2">
                <div> {{ asignatura.asignatura }}</div>
              </div>
            </ng-template>
          </p-select>

          <label for="txtAsignatura">Asignatura</label>
        </p-floatlabel>
      </div>
    
      <div>
        <p-floatlabel variant="on">
          <p-select formControlName="periodo" size="small" [options]="periodosResources.value()" 
            optionValue="idPeriodo" 
            optionLabel="periodo" 
            [filter]="true"
            filterBy="periodo" 
             [ngModel]="intPeriodo"
            [showClear]="true" fluid>
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <div>{{ selectedOption.periodo }}</div>
              </div>
            </ng-template>
            <ng-template let-periodo #item>
              <div class="flex items-center gap-2">
                <div>{{ periodo.periodo }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="txtPeriodo">Periodo</label>
        </p-floatlabel>
      </div>
      
      
    </div>
     <div class="grid grid-cols-2 m-2 gap-1">
      
      <div>
        <button pButton class="w-full" (click)="findLogros()" [disabled]="formFindLogros.invalid">
          <i class="pi pi-search" pButtonIcon></i>
          <span pButtonLabel>Buscar Logros</span>
        </button>
      </div>

      <div>
        <button pButton class="w-full" (click)="findOtherNotes()" [disabled]="formFindLogros.invalid">
          <i class="pi pi-search" pButtonIcon></i>
          <span pButtonLabel>Buscar Ausencias y Otras notas</span>
        </button>
      </div>


     </div>
  </p-fieldset>
</form>