<p-fieldset legend="Estudiantes">
    <div class="grid grid-cols-2 gap-2">
        <div>
            <p-table size="small" [value]="InListStudient()||[]" [paginator]="true" [rows]="5"
                [tableStyle]="{ 'min-width': '50rem' }" showGridlines stripedRows [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template #header>
                    <tr>
                        <th style="width:40%">Estudiantes</th>
                    </tr>
                </ng-template>
                <ng-template #body let-studient let-row = rowIndex >
                    <tr>
                        <td style="font-size: 15px;">
                            <button pButton type="button" [label]="studient.apellidos + ' ' + studient.nombres"
                                (click)="getStudient(studient)" class="p-button-text"
                                [icon]="getIcon(studient,row )">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div>
            @if(inSelectedStudient()){

            <p-fieldset
                [legend]=" getNameStudient( this.studient!)">
                <form [formGroup]="formCommentStudient">
                    <div>
                        <p-floatlabel variant="on">
                            <textarea pTextarea id="txtComentario" rows="3" cols="30" style="resize: none" fluid
                                formControlName="comment" [ngModel]="this.studient?.comentario"></textarea>
                            <label for="txtComentario">Comentario</label>
                        </p-floatlabel>
                    </div>
                    <div>
                        <div class="flex justify-center mt-3 gap-4">
                            <p-button label="Guardar" severity="success" (click)="saveComment()" />
                        </div>
                    </div>
                </form>
            </p-fieldset>
            }
        </div>
    </div>
</p-fieldset>