<p-fieldset legend="Logros">
    <div>
        <div class="flex mb-3 justify-end">
            <button pButton class="p-button-info" (click)="viewDialog()" [disabled]="inFindLogros()===null || inFindLogros()===undefined || inFindLogros()?.periodo==='' || getCantLogros() === 0">Adicionar</button>
        </div>
        <hr>
        <p-table size="small" [value]="inLogros()" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
            showGridlines stripedRows [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template #header>
                <tr>
                    <th style="width:40%">Descripcion</th>
                    <th style="width:7%">N-1</th>
                    <th style="width:7%">N-2</th>
                    <th style="width:7%">N-3</th>
                    <th style="width:7%">N-4</th>
                    <th style="width:25%">Acciones</th>
                </tr>
            </ng-template>
            <ng-template #body let-logro>
                <tr>
                    <td style="font-size: 15px;">{{ logro.textoLg }}</td>
                    <td>{{ logro.pc1}}</td>
                    <td>{{ logro.pc2}}</td>
                    <td>{{ logro.pc3 }}</td>
                    <td>{{ logro.pc4 }}</td>
                    <td>
                        <button pButton type="button" icon="fa-solid fa-pen-to-square"
                            class="p-button-rounded p-button-info mr-2" (click)="viewDialogEvaluaciones(logro)"></button>
                        <button pButton type="button" icon="fa-solid fa-folder-open"
                            class="p-button-rounded p-button-info mr-2"></button>
                        <button pButton type="button" icon="fa-solid fa-trash"
                            class="p-button-rounded p-button-danger mr-2" (click)="deleteLogro(logro.codLogro)"></button>
                        <button pButton type="button" icon="fa-solid fa-file-pen"
                            class="p-button-rounded p-button-secondary" (click)="viewDialog(logro)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-fieldset>
