/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.border-line{
  border: 1px solid rgb(225, 225, 231);
  border-radius: 6px 6px;
  padding: 1.125rem 1.125rem 1.125rem 1.125rem ;
}
