<p-fieldset legend="Buscar Logros">
  <div class="grid grid-cols-3">
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="txtYear" autocomplete="off" fluid />
        <label for="txtYear">Año</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="txtGrado" autocomplete="off" fluid />
        <label for="txtGrado">Grado</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="txtAsignatura" autocomplete="off" fluid />
        <label for="txtAsignatura">Asignatura</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="txtPeriodo" autocomplete="off" fluid />
        <label for="txtPeriodo">Periodo</label>
      </p-floatlabel>
    </div>
    <div>
      <button pButton class="w-full">
        <i class="pi pi-search" pButtonIcon></i>
        <span pButtonLabel>Buscar</span>
      </button>
    </div>
  </div>
</p-fieldset>
